.cube {
    width: 100px;
    height: 100px;
    position: relative;
    transform-style: preserve-3d;
    animation: rotate 2s infinite linear;
    margin-bottom: 50px;
}

.face {
    position: absolute;
    width: 100px;
    height: 100px;
    border: 2px solid #ffffff;
}

.front {
    transform: translateZ(50px);
    background: linear-gradient(45deg, #42a5f5, #478ed1);
}

.back {
    transform: rotateY(180deg) translateZ(50px);
    background: linear-gradient(45deg, #ff5722, #e64a19);
}

.left {
    transform: rotateY(-90deg) translateZ(50px);
    background: linear-gradient(45deg, #8bc34a, #7cb342);
}

.right {
    transform: rotateY(90deg) translateZ(50px);
    background: linear-gradient(45deg, #ffeb3b, #fbc02d);
}

.top {
    transform: rotateX(90deg) translateZ(50px);
    background: linear-gradient(45deg, #9c27b0, #8e24aa);
}

.bottom {
    transform: rotateX(-90deg) translateZ(50px);
    background: linear-gradient(45deg, #00bcd4, #0097a7);
}

@keyframes rotate {
    from {
        transform: rotateX(0deg) rotateY(0deg);
    }

    to {
        transform: rotateX(360deg) rotateY(360deg);
    }
}

/* Loading text animation */
.loading-text {
    display: flex;
    justify-content: center;
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

.loading-text span {
    opacity: 0;
    animation: fadeIn 1.5s linear infinite, colorChange 3s linear infinite;
}

.loading-text span:nth-child(1) {
    animation-delay: 0s;
}

.loading-text span:nth-child(2) {
    animation-delay: 0.1s;
}

.loading-text span:nth-child(3) {
    animation-delay: 0.2s;
}

.loading-text span:nth-child(4) {
    animation-delay: 0.3s;
}

.loading-text span:nth-child(5) {
    animation-delay: 0.4s;
}

.loading-text span:nth-child(6) {
    animation-delay: 0.5s;
}

.loading-text span:nth-child(7) {
    animation-delay: 0.6s;
}

.loading-text span:nth-child(8) {
    animation-delay: 0.7s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }

    50% {
        opacity: 1;
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        transform: translateY(20px);
    }
}

@keyframes colorChange {
    0% {
        color: #ff0000;
    }

    20% {
        color: #ffa500;
    }

    40% {
        color: #ffff00;
    }

    60% {
        color: #008000;
    }

    80% {
        color: #0000ff;
    }

    100% {
        color: #4b0082;
    }
}